webQuiz/src/main/webapp/day09/quiz02.dtd

<?xml version="1.0" encoding="UTF-8"?>



<!ELEMENT 사원 (명함)+ >
<!ELEMENT 명함 (회사명, 부서, 성명, 주소, 전화+, 팩스?) >

<!ELEMENT 회사명 (#PCDATA) >
<!ELEMENT 부서 (#PCDATA) >
<!ELEMENT 성명 (#PCDATA) >
<!ELEMENT 전화 (#PCDATA) >
<!ELEMENT 팩스 (#PCDATA) >

<!ELEMENT 주소 (도?, 시, 구?, 동) >

<!ELEMENT 도 (#PCDATA) >
<!ELEMENT 시 (#PCDATA) >
<!ELEMENT 구 (#PCDATA) >
<!ELEMENT 동 (#PCDATA) >
	
<!ATTLIST 성명 사번 (1111|2222) #REQUIRED >
<!ATTLIST 주소 동 CDATA #FIXED "동" >